.navLink {
   display: flex;
   align-items: center;
   width: 272px;
   height: 56px;
   border-radius: 12px;
   padding-left: 16px;
   font-size: 16px;
   line-height: 150%;
}

.navLink:hover {
   background-color: rgba(80, 62, 157, 0.3);
   color: #503E9D;
   font-weight: 700;
}

   svg:hover {
      fill: red;
   }

.icon {
   margin-right: 24px;
}

.text {}

.text:hover {}