.headlinesCard {
   display: flex;
   align-items: center;
   margin-bottom: 38px;
}

.title {
   font-size: 16px;
   font-weight: 700;
   line-height: 150%;
   margin-bottom: 8px;
}

.thumbnailImg {
   margin-right: 24px;
   border-radius: 12px;
}

.info {
   width: 100%;
}

.rating {
   display: flex;
   margin-bottom: 13px;
}

.dislikeIcon {
   margin-bottom: -3px;
}

.likeIcon,
.dislikeIcon {
   margin-right: 4px;
}

.text {
   font-size: 12px;
   font-weight: 400;
   line-height: 150%;
}

.like {
   margin-right: 23px;
   color: #626264;
}

.dislike {
   color: #878787;
}

.wrapper {
   display: flex;
   justify-content: space-between;
}

