.menuItem {
   display: inline-flex;
   align-items: center;
}

.menuText {
   font-size: 14px;
   font-weight: 600;
   line-height: 170%;
   margin-right: 10px;
}

.menuImg {
   margin-right: 12px;
}

.buttons {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 16px;
   margin-right: 23px;
}

.buttonUp,
.buttonDown {
   width: 10px;
   height: 6px;
   border: none;
   cursor: pointer;
}


.buttonUp {
   background: url("./../../assets/images/up-Icon.png");
}

.buttonDown {
   background: url("./../../assets/images/down-Icon.png");
}