.menuItem {
   display: inline-flex;
   align-items: center;
}

.menuText {
   font-size: 14px;
   font-weight: 600;
   line-height: 170%;
   margin-right: 10px;
}

.menuImg {
   margin-right: 12px;
}

.buttons {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 17px;
   margin-right: 23px;
}

.buttonUp,
.buttonDown {
   display: flex;
   width: 10px;
   height: 6px;
   border: none;
   cursor: pointer;
}

.buttons svg:hover path {
   fill: #0068FF;
}

