.headerWrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.headerMenu {
   list-style-type: none;
   display: inline-flex;
}

.headerForm {
   display: inline;
}

.rightBlock {
   display: flex;
   align-items: center;
}