.headerWrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.headerMenu {
   list-style-type: none;
   display: inline-flex;
   width: 490px;
}

.headerForm {
   display: inline;
}

