.container {
   max-width: 1072px;
}

.wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 32px;
}

.title {
   font-size: 24px;
   font-weight: 700;
   line-height: 120%;
}

.link {
   margin-top: 5px;
}

.link:hover {
   opacity: 0.7;
}

.link:active {
   transform: translate(1px, 2px);
}

.linkText {
   font-weight: 600;
   font-size: 16px;
   line-height: 150%;
   color: #503E9D;
   margin-right: 10px;
}