.App {
   background-color: #F2F2F2;
   /* height: 100vh; */
   max-width: 1440px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 304px 1fr;
   grid-template-rows: 100px 1fr;
   grid-template-areas:
      "s h"
      "s c";
}

.header {
   grid-area: h;
   padding: 32px 32px 0;
}

.sidebar {
   background-color: #F8F8F8;
   grid-area: s;
}

.main {
   grid-area: c;
   padding: 28px 32px;
}

.block-title {
   font-size: 24px;
   font-weight: 700;
   line-height: 130%;
   margin-bottom: 32px;
}

.channels-news,
.headlines {
   margin-bottom: 38px;
}

