.App {
   background-color: #F2F2F2;  
   height: 100vh;
   max-width: 1440px;
   margin: 0 auto;
   display: grid; 
   grid-template-columns: 304px 1fr;
   grid-template-rows: 100px 1fr;
   grid-template-areas: 
   "s h"
   "s c";
}

.header {
   grid-area: h;
}

.sidebar {
   background-color: #F8F8F8; 
   grid-area: s;
}

.main {
   grid-area: c;
   padding: 28px 32px;
}

.block-title {
   
}

.block-content {
   display: grid;
   grid-template-columns: repeat(3, 336px);
   gap: 32px;
}
