.wrapper {
   position:relative;
}

.wrapper::after {   
   content: "";
   position: absolute;
   top: 24px;
   left: 32px;
   width: 176px;
   height: 324px;
   border-radius: 20px;
   background-color:#FFFFFF;
   box-shadow: 0px 24px 64px -4px rgba(0, 0, 0, 0.04);
   z-index: 0;
}

.wrapper::before {   
   content: "";
   position: absolute;
   top: 12px;
   left: 16px;
   width: 208px;
   height: 324px;
   border-radius: 20px;
   background-color:#FFFFFF;
   box-shadow: 0px 24px 64px -4px rgba(0, 0, 0, 0.04);
   z-index: 1;
}

.banner {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 20px;
   padding: 32px;
   background-color: #FFFFFF;
   position: relative;
   box-shadow: 0px 32px 96px -8px rgba(0, 0, 0, 0.06);
   z-index: 3;
}

.closeBtn {
   width: 12px;
   height: 12px;
   border: none;
   background-color: transparent;
   cursor: pointer;
   position: absolute;
   top: 7px;
   right: 7px;
}

.imgOffer {
   margin-bottom: 20px;
}

.offer {
   max-width: 150px;
   text-align: center;
   margin-bottom: 10px;
}

.offer,
.limitation {
   text-align: center;
}

.offer,
.price {
   font-size: 16px;
   font-weight: 700;
   line-height: 150%;
}

.price {
   color: #FB6D3A;
   text-decoration: underline;
   line-height: 120%;
}

.limitation {
   max-width: 170px;
   font-size: 12px;
   line-height: 150%;
   color: #626264;
   margin-bottom: 33px;
}

.button {
   display: flex;
   padding: 16px;
   border-radius: 10px;
   border: none;
   background-color: #503E9D;
   color: #F7FAFC;
   font-weight: 700;
   font-size: 16px;
   line-height: 100%;
   cursor: pointer;
}

.label {
   margin-right: 12px;
}

